.home{
    display: flex;
   align-items: center;
    flex-direction: column;
    min-height: 80vh;
    background: linear-gradient(132deg, rgb(251, 165, 116) 0.00%, rgb(216, 245, 251) 100.00%);
}
#home_btn{
    display: flex;
    gap: 10px;
    margin-bottom: 1%;
}
@media screen and (max-width: 342px){
    #home_title{
        font-size:1.5rem;
    }
    #home_desc{
        font-size: 1rem;
        margin-left: 4px;
    }
    #home_btn{
        flex-direction: column;
    }
}