.container{
    display: flex;
    flex-direction: column;
}
.video{
    display: flex;
    align-items: center;
    gap: 2rem;
    
}
#prev, #next{
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
}

.pagination{
    /* border: 2px solid rgb(254, 195, 195); */
    display: flex;
    gap: 8px;
   justify-content: space-around;
    align-items: center; 
    padding: 10px;
    margin-top: 6px;
}
.boxx{
  
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: rgb(69, 5, 84);
cursor: pointer;


/* From https://css.glass */
background: rgba(228, 13, 165, 0.22);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(4.1px);
-webkit-backdrop-filter: blur(4.1px);
border: 1px solid rgba(228, 13, 165, 0.24);
}
.active{
  
background: rgba(4, 116, 19, 0.22);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(4.1px);
-webkit-backdrop-filter: blur(4.1px);
border: 1px solid rgba(13, 255, 13, 0.24);
}
@media screen and (max-width: 924px) {
.video{
    flex-direction: column;
}
#video{
    width: 90vw;
}
.boxx{
    width: 6vw;
}
}