.dashboard{
    background: linear-gradient(132deg, rgb(3, 148, 108) 0.00%, rgb(33, 35, 34) 100.00%);
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    padding: 20px 10px;
    width: 90vw;
    box-shadow: 7px 5px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 7px 5px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 7px 5px 5px 0px rgba(0,0,0,0.75);
    border-radius: 10px;
}