.box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    background: linear-gradient(132deg, rgb(249, 202, 120) 0.00%, rgb(212, 206, 169) 50.00%, rgb(172, 192, 191) 100.00%);
   padding: 12px;
   border-radius: 10px;
   width: 400px;
   cursor: pointer;
 
}

.input_box{
    display: flex;
    gap: 2%;
}
#timee_input{
  padding:1px 4px; 
  background-color: rgb(180, 213, 237); 
  color: black;
}
#timee_submit{
    background-color:black;
    color: goldenrod;
}
.box:hover{
    box-shadow: 4px 3px 5px 1px rgba(23,23,24,0.75);
-webkit-box-shadow: 4px 3px 5px 1px rgba(23,23,24,0.75);
-moz-box-shadow: 4px 3px 5px 1px rgba(23,23,24,0.75);
border-bottom: 4px solid blueviolet;
border-bottom-style: inset;
}
#img{
    font-size: 1.7rem;
}
#title{
    font-weight: bold;
    color: black;
}
#desc{
    font-weight:400;
    color: rgb(88, 87, 87);
}
@media screen and (max-width: 342px) {
  .input_box{
    flex-direction: column;
    gap: 5px;
    
  }
  #timee_input,#timee_submit{
    width:70%;
  }
    
}